/* *************************MASTER CSS FILE ****************************/
body{
  background-color: white;
  font-family:"helvetica neue", helvetica, sans-serif;
  background-color: #000000;
  box-sizing: border-box;
}

/* ****************************HEADER****************************** */

header div{
  width: 1425px;
  height: 44px;

  background-color: #000
}

header ul{
  width: 1070px;
  height: 100%;

  margin: 0 auto;


}

header ul li{
  width: 10%;
  height: 100%;

  /* background-color: #999; */
  display: inline-block;
  float: left;

  text-align: center;

  line-height: 44px;
  color: #fff;
  font-weight: 300;
  font-size: 0.82em;
  letter-spacing: 0.08em;

  cursor: pointer;
  user-select: none;
  transition: 0.2s;

}

    header ul li:hover{
      color: #a7a7a7;
      transition: 0.2s;
    }
/* ******************************apple logo******************************** */
    header ul li:first-child{
      font-size: 1.4em;
    }

    /* *************************search icon******************************** */
    header ul li:nth-child(9){
      background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/search/image_large.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    /* **************************shopping bag****************************** */
    header ul li:last-child{
      background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/bag/image_large.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

/* ******************************NAVBAR2 ICONS*******************************/
#navbar2{
  width: 1425px;
  height: 116px;
  background-color: #141414;
  box-sizing: border-box;
}

#navIcons{
  width: 33%;
  height: 65%;
  margin: 0px 0px 0px 505px;
  box-sizing: border-box;
  padding: 15px 0px 0px 0px;
}

#navIcons li{
  display: inline-block;
  color: white;
  width: 20%;
  height: 100%;

  float: left;

}

    #navIcons li:first-child{
      background: url('../stylesheets/media/imgs/header 2/apple_tv_dark_large.svg');
      background-repeat: no-repeat;
    }
    #navIcons li:nth-child(2){
      background: url('../stylesheets/media/imgs/header 2/apple_tv_dark_large.svg');
      background-repeat: no-repeat;
    }
    #navIcons li:nth-child(3){
      background: url('../stylesheets/media/imgs/header 2/tvapp_dark_large.svg');
      background-repeat: no-repeat;
    }
    #navIcons li:nth-child(4){
      background: url('../stylesheets/media/imgs/header 2/accessories_dark_large.svg');
      background-repeat: no-repeat;
    }
    #navIcons li:last-child{
      background: url('../stylesheets/media/imgs/header 2/compare_dark_large.svg');
      background-repeat: no-repeat;
    }

/* ****************************NAVBAR2 TEXT****************************** */

#navText{
  width: 34%;
  height: 20%;
  margin: 0px 0px 0px 490px;
  padding-top: 0px;
}

#navText li{
  display: inline-block;
  color: white;
  width: 20%;
  height: 100%;

  float: left;

  font-size: 0.68em;
  font-weight: 300;
  letter-spacing: 1px;

  cursor: pointer;
}

    #navText li:hover{
      color: #5BADD3;
    }

#backgroundIMG1{
  width: 1425px;
  height: 1137px;
  background: url('../stylesheets/media/imgs/hero_large_2x.jpg');
  background-repeat: no-repeat;
  background-size: 2550px;
  background-position: top;

}

#netflix{
  width: 100px;
  height: 29px;
  background: url(../stylesheets/media/imgs/netflix_logo_large_2x.png);
  background-size: 100px 29px;

  position: absolute;

  margin: 320px 0px 0px 1210px;
}

/* *********************************4K TV TEXT****************************/
#backgroundIMG1 h1{
  color: white;
  font-size: 3.1em;
  text-align: center;

  position: absolute;

  margin: 680px 0px 0px 642px;

  letter-spacing: 0.01em;
  word-spacing: 0.1px;

}

    #BG1appleLogo{
      font-size: 0.9em;
    }

    #BG1-4k{
      font-size: 0.75em;
      font-weight: 900;
    }

/* **********************CINEMATIC IN EVERY SENSE **************************/
#backgroundIMG1 h2{
  color: white;
  font-size:3.8em;
  font-weight: 500;

  position: absolute;

  margin: 745px 0px 0px 360px;


}

/* *************************APPLE TV PARAGRAPH ******************************/

#backgroundIMG1 h3{
  color: white;
  font-size:1.4em;
  text-align: center;
  font-weight: 400;

  position: absolute;

  margin: 830px 0px 0px 25px;
  padding: 0px 250px;

  line-height: 1.5;

}

/* LEARN MORE BUY LIST */
#backgroundIMG1 ul{
  width: 300px;
  height: 32px;

  position: absolute;

  margin: 980px 0px 0px 545px;
}

#backgroundIMG1 ul li{
  display: inline-block;
  color: #66BBFF;
  padding-left: 50px;

  font-size: 1.35em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;

  cursor: pointer;

}

    #LMArrow1{
      font-size: 1.9em;
      font-weight: 200;
      position: absolute;
      margin: -35px 0px 0px 130px;
    }

    #LMArrow2{
      font-size: 1.9em;
      font-weight: 200;
      position: absolute;
      margin: -35px 0px 0px 50px;
    }

    #backgroundIMG1 ul li:hover{
      text-decoration: underline;

    }

/* WATCH ON NETFLIX */
#backgroundIMG1 h4{
color: white;
font-size: 0.98em;
font-weight: 300;
letter-spacing: 0.08em;

position: absolute;

margin: 1065px 0px 0px 590px;

cursor: pointer;
}

#lis-i{
  font-style: italic;
}

  #backgroundIMG1 h4:hover{
    text-decoration: underline;
  }

  /* BACKGROUND IMAGE 2 */
#backgroundIMG2{
  width: 1425px;
  height: 1158px;
}

/* APPLE TV APP */
#backgroundIMG2 h1{
  color: white;
  font-size: 1.45em;

  position: absolute;

  margin: 100px 0px 0px 45%;
}

/* Everything you watch, on every screen. */
#backgroundIMG2 h2{
  color: white;
  font-size: 3.85em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.001em;
  line-height: 1.1;

  position: absolute;

  margin: 135px 0px 0px 28%;
}

/* IMG2 PARAGRAPH */
#backgroundIMG2 h3{
  color: white;
  font-size: 1.48em;
  line-height: 1.38;
  font-weight: 300;

  position: absolute;

  margin: 290px 0px 0px 25%;
  text-align: center;
}

#backgroundIMG2 h4{
  color: #66BBFF;
  font-size: 1.45em;
  font-weight: 400;
  margin: 510px 0px 0px 45.5%;

  position: absolute;
}

#BG2LMArrow{
  position: absolute;

  margin: -36px 0px 0px 127px;
  font-size: 1.9em;
  font-weight: 300;
}

/* IMG 2 ACTUAL */
#IMG2{
  width: 932px;
  height: 572px;
  background: url('../stylesheets/media/imgs/watchnow_large_2x.jpg');
  background-size: 932px 572px;

  position: absolute;

  margin: 590px 0px 0px 250px;

}

/* BACKGROUNDIMG3 */

#backgroundIMG3{
width: 1425px;
height: 1023px;
}

/* Accessories */
#backgroundIMG3 h1{
  color: white;
  font-size: 1.5em;

  position: relative;

  margin: 115px 0px 0px 45.5%;
}

/* GET EVEN MORE FROM YOUR APPLE TV */
#backgroundIMG3 h2{
  color: white;
  font-size: 3.8em;
  font-weight: 500;
  text-align: center;
  line-height: 1.15;
  width: 1000px;

  position: relative;
  top: 12px;
  left: 218px;
  letter-spacing: -1px;
}

/* IMG 2 PARAGRAPH */
#backgroundIMG3 h3{
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;

  position: relative;

  top: 35px;
  line-height: 1.3;
}

/* SHOP Accessories link */
#backgroundIMG3 h4{
  color: #66BBFF;
  font-size: 1.37em;
  font-weight: 400;
  width: 200px;

  position: relative;

  left: 615px;
  top: 45px;
}

    #BG3LMArrow{
      position: relative;
      font-size: 1.8em;
      font-weight: 300;
      top: 5px;
    }

/* IMG 3 ACTUAL */
#IMG3{
  width: 619px;
  height:493px;
  background: url(../stylesheets/media/imgs/accessories_large_2x.jpg);
  background-size: 619px 493px;

  position: relative;

  top: 75px;
  left: 403px;

}

/* FOOTER */

#footer{
  width: 1425px;
  height: 943px;
  background-color: #222222;

  position: relative;
  bottom: 110px;
}

    #footerIMG1{
      height: 74px;
      width: 74px;
      background: url('../stylesheets/media/imgs/footer/icon_dark_large.svg');

      position:relative;
      top: 59px;
      left: 471px;
      margin: 0px;
    }
    #footerIMG2{
      height: 74px;
      width: 74px;
      background: url('../stylesheets/media/imgs/footer/icon_dark_large (1).svg');

      position:relative;
      bottom: 14px;
      left: 881px;
    }

        #footerIMG1h1{
          color: #CCCCCC;
          font-size: 1.19em;
          width: 200px;

          position: relative;
          left: 415px;
          bottom: 11px;
        }
        #footerIMG2h1{
          color: #CCCCCC;
          font-size: 1.18em;
          line-height: 1.3;
          width: 200px;
          text-align: center;

          position: relative;
          left: 816px;
          bottom: 34px;
        }

        #footerIMG1h2{
          color: #CCCCCC;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 410px;
          bottom: 48px;
        }
        #footerIMG2h2{
          color: #CCCCCC;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 250px;
          text-align: center;

          position: relative;
          left: 795px;
          bottom: 65px;
        }

        #footerIMG1h3{
          color: #66BBFF;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 409px;
          bottom: 75px;
        }
        #footerIMG2h3{
          color: #66BBFF;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 818px;
          bottom: 70px;
        }

#footer h4{
  font-size: 0.69em;
  line-height: 1.2;
  color: #555555;

  width: 1000px;

  position: relative;
  left: 230px;
  bottom: 15px;
}

#hr1{
  width: 980px;
  border-color: #555555;
  color: #555555;
  position: relative;
  bottom: 25px;
}
#hr2{
  width: 980px;
  border-color: #555555;
  color: #555555;
  position: relative;
}
