/* *************************MASTER CSS FILE ****************************/
body{
  background-color: white;
  font-family:"helvetica neue", helvetica, sans-serif;
  background-color: #000000;
  height: 4420px;
}

a{
  color: inherit;
  text-decoration: none;
}

/* ****************************HEADER****************************** */
  .headerContainer{
    width: 985px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 218px;
  }

      .headerContainer div{
        color: white;
        font-size: 0.85em;
        font-weight: 300;
        letter-spacing: 0.7px;
        cursor: pointer;
      }

      .headerContainer div:hover{
        color: #a7a7a7;
        transition: 0.2s;
      }

      .headerContainer div:first-child{
        font-size: 1.4em;
      }

      .headerContainer div:nth-child(9){
        width: 16px;
        height: 44px;
        background: url('../stylesheets/media/imgs/header/image_large.svg');
        background-size: 36px 44px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .headerContainer div:last-child{
        width: 16px;
        height: 44px;
        background: url('../stylesheets/media/imgs/header/image_large (1).svg');
        background-size: 36px 44px;
        background-repeat: no-repeat;
        background-position: center;
      }

/* ******************************NAVBAR2 ICONS*******************************/

.navbar2BG{
  height: 116px;
  width: 98.9vw;
  background-color: #141414;
  position: relative;
}

  .navbar2Container{
    height: 55px;
    width: 445px;
    position: relative;
    left: 506px;
    top: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

      .navbar2Container div{
        cursor: pointer;
      }

      .navbar2Container div:first-child{
        width: 64px;
        height: 54px;
        background: url('../stylesheets/media/imgs/header 2/apple_tv_dark_large.svg');
        background-repeat: no-repeat;
        padding-left: 10px;
      }
      .navbar2Container div:nth-child(2){
        width: 64px;
        height: 54px;
        background: url('../stylesheets/media/imgs/header 2/apple_tv_dark_large.svg');
        background-repeat: no-repeat;
        margin-left: 6px;
      }
      .navbar2Container div:nth-child(3){
        width: 64px;
        height: 54px;
        background: url('../stylesheets/media/imgs/header 2/tvapp_dark_large.svg');
        background-repeat: no-repeat;
        margin-right: 12px;
      }
      .navbar2Container div:nth-child(4){
        width: 64px;
        height: 54px;
        background: url('../stylesheets/media/imgs/header 2/accessories_dark_large.svg');
        background-repeat: no-repeat;
        margin-right: 20px;
      }
      .navbar2Container div:last-child{
        width: 64px;
        height: 54px;
        background: url('../stylesheets/media/imgs/header 2/compare_dark_large.svg');
        background-repeat: no-repeat;
      }

      /* *************************NAVBAR 2 TEXT**************************** */

      .navbar2Container2{
        height: 55px;
        width: 440px;
        position: relative;
        left: 492px;
        bottom: 4px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

          .navbar2Container2 div{
            color: white;
            font-size: 0.64em;
            font-weight: 300;
            letter-spacing: 1px;
            cursor: pointer;
          }

              .navbar2Container2 div:hover{
                color: #5BADD3;
              }


              /* *********************BackgroundIMG1************************ */

#backgroundIMG1{
  width: 1425px;
  height: 1137px;
  background: url('../stylesheets/media/imgs/hero_large_2x.jpg');
  background-repeat: no-repeat;
  background-size: 2550px;
  background-position: top;

}

#netflix{
  width: 100px;
  height: 29px;
  background: url(../stylesheets/media/imgs/netflix_logo_large_2x.png);
  background-size: 100px 29px;

  position: absolute;

  margin: 320px 0px 0px 1210px;
}

/* *********************************4K TV TEXT****************************/
#backgroundIMG1 h1{
  color: white;
  font-size: 3.1em;
  text-align: center;

  position: absolute;

  margin: 680px 0px 0px 642px;

  letter-spacing: 0.01em;
  word-spacing: 0.1px;

}

    #BG1appleLogo{
      font-size: 0.9em;
    }

    #BG1-4k{
      font-size: 0.75em;
      font-weight: 900;
    }

/* **********************CINEMATIC IN EVERY SENSE **************************/
#backgroundIMG1 h2{
  color: white;
  font-size:3.8em;
  font-weight: 500;
  width: 800px;
  letter-spacing: -0.4px;

  position: relative;
  top: 746px;
  left: 360px;


}

/* *************************APPLE TV PARAGRAPH ******************************/

#backgroundIMG1 h3{
  color: white;
  font-size:1.4em;
  text-align: center;
  font-weight: 400;

  position: relative;
  top: 770px;

  line-height: 1.5;

}

/* ************************LEARN MORE BUY LIST *************************/
#backgroundIMG1 ul{
  width: 300px;
  height: 32px;

  position: relative;
  top: 785px;
  left: 545px;
}

#backgroundIMG1 ul li{
  display: inline-block;
  color: #66BBFF;
  padding-left: 50px;

  font-size: 1.35em;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.8px;

  cursor: pointer;

}

    #LMArrow1{
      font-size: 1.9em;
      font-weight: 200;
      position: absolute;
      margin: -35px 0px 0px 127px;
    }

    #LMArrow2{
      font-size: 1.9em;
      font-weight: 200;
      position: absolute;
      margin: -35px 0px 0px 47px;
    }

    #backgroundIMG1 ul li:hover{
      text-decoration: underline;

    }

/* ************************WATCH ON NETFLIX************************ */
#backgroundIMG1 h4{
color: white;
font-size: 0.98em;
font-weight: 300;
letter-spacing: 0.08em;
width: 400px;

position: relative;
top: 842px;

left: 590px;

cursor: pointer;
}

#lis-i{
  font-style: italic;
}

  #backgroundIMG1 h4:hover{
    text-decoration: underline;
  }

  /* ************************BACKGROUND IMAGE 2************************ */
#backgroundIMG2{
  width: 1425px;
  height: 1158px;
}

/* ************************APPLE TV APP************************ */
#backgroundIMG2 h1{
  color: white;
  font-size: 1.45em;
  letter-spacing: 0.5px;
  width: 200px;

  position: relative;
  top: 103px;
  left: 640px;
}

/* ******************Everything you watch, on every screen.*********** */
#backgroundIMG2 h2{
  color: white;
  font-size: 3.85em;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.1;
  width: 800px;

  position: relative;
  top: 115px;
  left: 314px;
}

/* ************************IMG2 PARAGRAPH************************ */
#backgroundIMG2 h3{
  color: white;
  font-size: 1.48em;
  line-height: 1.38;
  font-weight: 300;
  letter-spacing: 0.1px;
  width: 800px;

  position: relative;
  top: 135px;
  left: 313px;

  text-align: center;
}

/* ************************IMG 2 Learn more link************************ */
#backgroundIMG2 h4{
  color: #66BBFF;
  font-size: 1.45em;
  font-weight: 400;
  width: 300px;

  position: relative;
  top: 160px;
  left: 645px;
}

    #backgroundIMG2 h4:hover{
      text-decoration: underline;
      cursor: pointer;
    }

#BG2LMArrow{
  position: absolute;
  margin: -13px 0px 0px 8px;
  width: 100px;


  font-size: 1.9em;
  font-weight: 300;
}

/* ************************IMG 2 ACTUAL************************ */
#IMG2{
  width: 932px;
  height: 572px;
  background: url('../stylesheets/media/imgs/watchnow_large_2x.jpg');
  background-size: 932px 572px;

  position: relative;
  top: 214px;
  left: 249px;

}

/* ************************BACKGROUNDIMG3************************ */

#backgroundIMG3{
width: 1425px;
height: 1023px;
}

/* ************************Accessories Text************************ */
#backgroundIMG3 h1{
  color: white;
  font-size: 1.5em;

  position: relative;

  margin: 115px 0px 0px 45.5%;
}

/* ************************GET EVEN MORE FROM YOUR APPLE TV***************** */
#backgroundIMG3 h2{
  color: white;
  font-size: 3.8em;
  font-weight: 500;
  text-align: center;
  line-height: 1.15;
  width: 1000px;

  position: relative;
  top: 9px;
  left: 210px;
  letter-spacing: -0.7px;
}

/* ************************IMG 2 PARAGRAPH************************ */
#backgroundIMG3 h3{
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;

  position: relative;

  top: 30px;
  line-height: 1.3;
}

/* ************************SHOP Accessories link************************ */
#backgroundIMG3 h4{
  color: #66BBFF;
  font-size: 1.37em;
  font-weight: 400;
  width: 200px;

  position: relative;

  left: 615px;
  top: 55px;
}

    #backgroundIMG3 h4:hover{
      cursor: pointer;
      text-decoration: underline;
    }

    #BG3LMArrow{
      position: absolute;
      font-size: 1.8em;
      font-weight: 300;

      margin: -11px 0px 0px 10px;

    }


/* ************************IMG 3 ACTUAL************************ */
#IMG3{
  width: 619px;
  height:493px;
  background: url(../stylesheets/media/imgs/accessories_large_2x.jpg);
  background-size: 619px 493px;

  position: relative;

  top: 90px;
  left: 403px;

}

/* *****************************FOOTER********************************* */

/* ************************Footer Div************************ */
#footer{
  width: 1425px;
  height: 943px;
  background-color: #222222;

  position: relative;
  bottom: 110px;
}

  /* ************************Footer Shipping Icons************************ */
    #footerIMG1{
      height: 74px;
      width: 74px;
      background: url('../stylesheets/media/imgs/footer/icon_dark_large.svg');

      position:relative;
      top: 59px;
      left: 471px;
      margin: 0px;
    }
    #footerIMG2{
      height: 74px;
      width: 74px;
      background: url('../stylesheets/media/imgs/footer/icon_dark_large (1).svg');

      position:relative;
      bottom: 14px;
      left: 881px;
    }

    /* ******************Shipping Icon Info and Links********************* */
        #footerIMG1h1{
          color: #CCCCCC;
          font-size: 1.19em;
          width: 200px;

          position: relative;
          left: 415px;
          bottom: 11px;
        }
        #footerIMG2h1{
          color: #CCCCCC;
          font-size: 1.18em;
          line-height: 1.3;
          width: 200px;
          text-align: center;

          position: relative;
          left: 816px;
          bottom: 34px;
        }

        #footerIMG1h2{
          color: #CCCCCC;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 410px;
          bottom: 48px;
        }
        #footerIMG2h2{
          color: #CCCCCC;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 250px;
          text-align: center;

          position: relative;
          left: 795px;
          bottom: 65px;
        }

        #footerIMG1h3{
          color: #66BBFF;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 409px;
          bottom: 75px;
        }

            #footerIMG1h3:hover{
              text-decoration: underline;
              cursor: pointer;
            }
        #footerIMG2h3{
          color: #66BBFF;
          font-size: 0.85em;
          font-weight: 300;
          line-height: 1.4;
          letter-spacing: 1px;
          width: 200px;
          text-align: center;

          position: relative;
          left: 818px;
          bottom: 70px;
        }
        #footerIMG2h3:hover{
          text-decoration: underline;
          cursor: pointer;
        }

        /* ****************Footer Fine Text Paragraph******************** */
#footer h4{
  font-size: 0.69em;
  line-height: 1.2;
  color: #555555;

  width: 1000px;

  position: relative;
  left: 230px;
  bottom: 15px;
}

#hr1{
  width: 980px;
  border-color: #555555;
  color: #555555;
  position: relative;
  bottom: 25px;
}
#hr2{
  width: 980px;
  border-color: #555555;
  color: #555555;
  position: relative;
}

/* *****************************Apple to TV Menu************************* */
#footer h5{
  color: #878787;
  font-size: 1.2em;
  font-weight: 200;
  width: 100px;
  position: relative;
  bottom: 15px;
  left: 222px;
  letter-spacing: 2px;
}

    #footer h5:hover{
      color: #ccc;
      cursor: pointer;
    }

    #appleTVArrow{
      font-size: 2.6em;
      font-weight: 100;
      position: relative;
      top: 7px;
      color: #555;
    }
    #appleTVtv{
      font-size: 0.6em;
      position: relative;
      bottom: 2px;
    }

    /* *************************Apple SubMenus*********************** */

#appleSubMenus{
  width: 1425px;
  height: 370px;
  position: relative;
  bottom: 500px;
}


  /* ***************************Shop and learn List*********************** */
  #S-L{
    color:#848484;
    font-size: 0.7em;
    font-weight: 400;
    width: 200px;

    position: relative;
    left: 225px;
    top: 6px;
  }

      #S-L li{
        padding-bottom: 13px;
      }
          #S-L li:first-child{
            color: #CCCCCC;
          }

    /* ***************************Apple Store List***************************/
    #A-S{
      color:#848484;
      font-size: 0.7em;
      font-weight: 400;
      width: 200px;

      position: relative;
      left: 420px;
      bottom: 285px;
    }

        #A-S li{
          padding-bottom: 13px;
        }
            #A-S li:first-child{
              color: #CCCCCC;
            }

      /* *********************For Education List**************************** */
      #F-E{
        color:#848484;
        font-size: 0.7em;
        font-weight: 400;
        width: 200px;

        position: relative;
        left: 615px;
        bottom: 570px;

      }

          #F-E li{
            padding-bottom: 13px;
          }
              #F-E li:first-child{
                color: #CCCCCC;
              }

      /* *********************For Business List**************************** */
      #F-B{
        color:#848484;
        font-size: 0.7em;
        font-weight: 400;
        width: 200px;

        position: relative;
        left: 615px;
        bottom: 558px;

      }

          #F-B li{
            padding-bottom: 13px;
          }
              #F-B li:first-child{
                color: #CCCCCC;
              }

      /* *******************Account List****************************** */
      #ACC{
        color:#848484;
        font-size: 0.7em;
        font-weight: 400;
        width: 200px;

        position: relative;
        left: 810px;
        bottom: 715px;

      }

          #ACC li{
            padding-bottom: 13px;
          }
              #ACC li:first-child{
                color: #CCCCCC;
              }

      /* ******************Apple Values List*********************** */
      #A-V{
        color:#848484;
        font-size: 0.7em;
        font-weight: 400;
        width: 200px;

        position: relative;
        left: 810px;
        bottom: 700px;

      }

          #A-V li{
            padding-bottom: 13px;
          }
              #A-V li:first-child{
                color: #CCCCCC;
              }

        /* ******************About Apple List********************** */
        #A-A{
          color:#848484;
          font-size: 0.7em;
          font-weight: 400;
          width: 200px;

          position: relative;
          left: 1008px;
          bottom: 979px;

        }

            #A-A li{
              padding-bottom: 13px;
            }
                #A-A li:first-child{
                  color: #CCCCCC;
                }

                #appleSubMenus li:hover{
                  cursor: pointer;
                  text-decoration: underline;
                  color: #ccc;

                }

                #appleSubMenus li:first-child:hover{
                  text-decoration: none;
                  cursor: default;
                }

        /* ***************Contact info and other garbage**************** */
#appleSubMenus h1{
  color: #5A5A5A;
  font-size: 0.7em;
  font-weight: 400;
  width: 500px;
  position: relative;
  bottom: 837px;
  left: 222px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

#appleSubMenus span{
  color: #64A9D7
}

#hr3{
  width: 980px;
  border-color: #555555;
  color: #555555;
  position: relative;
  bottom: 872px;
}

#appleSubMenus h2{
  color: #9a9a9a;
  font-size: 0.68em;
  font-weight: 300;
  width: 500px;

  position: relative;
  bottom: 870px;
  left: 500px;
  letter-spacing: 0.1em;
}

    #appleSubMenus h2:hover{
      cursor: pointer;
    }

#appleSubMenus h3{
  color: #9a9a9a;
  font-size: 0.66em;
  font-weight: 300;
  width: 200px;
  letter-spacing: 0.8px;

  position: relative;
  bottom: 883px;
  left: 1105px;
}

span#flagIMG{
  color: transparent;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  background: url('../stylesheets/media/imgs/footer/32.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  background-position: center;
}

#appleSubMenus span:hover{
  text-decoration: underline;
  cursor: pointer;
}

#appleSubMenus h3:hover{
  cursor: pointer;
}
